$dark-grey: rgb(44, 44, 44);
$light-grey: hsl(30, 1%, 67%);
$purple: #3b2668;
$pink: #fc81fc;

$white: #FFFFFF;
$black: #000000;

$text-gradient-base: 45deg, $light-grey, $pink;
$section-gradient: 80deg, $dark-grey, $purple,  $pink;
$footer-gradient: 65deg, $dark-grey 15% , $purple 100%;