$bg: '../../assets/bg.png';

.contact{
    min-height: 30vh;
    background-image: url($bg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;

    h2{
        color: $pink;
        opacity: 0.8;

    }

    a{
        width: 250px;
        font-family: $font-family;
        font-size: 1.5rem;
        color: $white;

        span{
            padding-right: 10px;
        }

        &:hover{
            $color: $pink;
        }
    }

    @media(min-width: 925px){
        padding-left: 220px; 
    }
}