.projects{
    width: 100%;
    padding: 15px 20px;

    h2{
        color: $purple;
        opacity: 0.8;
    }
}

.project__stack{
    font-size: 1.2rem;
    font-family: $font-family;
    font-weight: 900;

    span{
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid $light-grey;
    }
}