$bg: '../../assets/bgSkills.png';

.section-skills{
    width: 100%;
    background-image: url($bg);
    background-size: cover;
    color: $white;
    font-family: $font-family;
}

.skillboxes{
    margin: 0 auto;
    width: 100%;
    @media (min-width: 900px) {
        width: 75%;
    }
}

.skill__type{
    color: $pink;
    opacity: 0.8;
}

.skillbox{
    padding: 10px 30px 10px 0;
}

.skill__description{
    margin-left: 10px;
    margin-bottom: 0px;
}
