
*{
    box-sizing: border-box;
}

.nav{
    height: 10vh;
    background-color: $purple;
    width: 100%;
    position: relative;
}

nav::before{
    content: '';
    display: block;
	margin-top: 90px;
    position: absolute;
	top: -50%;
	left: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%) rotate(45deg);
	background-color: $purple;
}

.listsbox{
    width: 80%;
    height: inherit;
    position: relative;

    @media (min-width: 750px) {
        display: flex;  
    }
}

.navlist{ 
    display: none;
    width:  40%;
    height: inherit;
    z-index: 1;


    a{
        display: block;
        color: $white;
        font-size: 1.5rem;
        cursor: pointer;
    }

    @media (min-width: 750px) {
        display: flex;  
    }
}

.navlist--mobile{
    display: block;

    @media (min-width: 750px) {
        display: none;  
    }
}


//hero
.hero{
    height: 90vh;;
    background-color: $white;
}


//skills
.section-skills{
    width: 100%;
    background-color: $dark-grey;
    color: $white;
    font-family: $font-family;
}

.skillboxes{
    margin: 0 auto;
    width: 100%;

    @media (min-width: 900px) {
        width: 65%;
    }
}

.skillbox{
    padding: 15px;
}

.skill__description{
    margin-left: 10px;
    margin-bottom: 0px;
}